.calculator{
    width: 40vw;
    height: 90vh;
    border: 1px solid black;
}

.display{
    width: 100%;
    height: 40%;
    /* background-color: #cdcdac; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.812);
}

.keypad{
    width: 100%;
}

